html {
    color: #121212;
    background-color: #efefef;

    color-scheme: light dark;

    --theme-color: burlywood
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: 0;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section > .content {
    line-height: 1.6;
    max-width: 820px;
}

#home {
    /* Should be max height minus the header's height */
    height: calc(100vh - 48px);
    /* background: ; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#home .strong {
    font-size: 60px;
}

#home {
    background: url("./assets//20240716_122206_cleaned_3.png");
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    height: 48px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: var(--theme-color);

    /* Used for sticky mode */
    top: 0;
}

header a {
    padding: 6px 12px;
    display: block;
    border: 0;
    outline: 0;
    background: #0000;
    color: #000;
    font-weight: 600;
    text-decoration: none;
}

.header-placeholder {
    display: none;
}

.footer {
    margin: 2em 0;
}


.service-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 36px;
}

.service {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 300px;
    background-color: #f0f0f0;
    /* padding: 12px; */
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
}

.service::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: var(--theme-color);
}

.service h3 {
    width: 100%;
    top: 1px;
    left: 0;
    padding: 6px 12px;
    margin: 0;
    position: absolute;
    background-color: #eee;
}

.service img {
    top: 0;
    height: 200px;
    object-fit: cover;
    
    /* z-index: -1; */
}

.grid {
    width: 100%;
    border-radius: 10px;
    max-width: unset!important;
}
.grid-item {
    display: block;
    width: 200px;

    border-radius: 8px;
    margin: 0 1% 20px 1%;
}


@media (prefers-color-scheme: dark) {
    html {
        color: #efefef;
        background-color: #121314;
        --theme-color: #fbc02d;
    }

    .service {
        background-color: #1e1e1e;
    }
    .service h3 {
        background-color: #333;
    }
}